.label-container {
    text-align: center;
}

.label-container label {
    display: block; /* Делаем label блочным элементом */
    margin-bottom: .5rem; /* Отступ снизу метки */
}

.input-container input,
.input-container select,
.input-container textarea,
.input-container label {
    width: 100%;
    padding: .5rem;
    margin-bottom: 1rem;

}

.error-message {
    color: red;
    font-weight: bold;
}
